.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarcolor {
  color: #fff;
  border: 0 solid #e6e6e6;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-bottom: 0;
}

.topnavbar {
  left: 0;
  height: 16px;
  content: "";
  background: url("./assets/images/shape_horizontal.svg") center center/cover
    no-repeat;
}

.highlightSelection {
  border: 3px solid #0055e4;
}

.form-control {
  border-radius: 0;
}

.form-control-lg {
  border-radius: 0;
}

.card {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.btn-lg {
  border-radius: 0;
}
