.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarcolor {
  color: #fff;
  border: 0 solid #e6e6e6;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-bottom: 0;
}

.topnavbar {
  left: 0;
  height: 16px;
  content: "";
  background: url("./assets/images/shape_horizontal.svg") center center/cover
    no-repeat;
}

.highlightSelection {
  border: 3px solid #0055e4;
}

.k-form .k-form-horizontal {
  width: 100%;
}

#root > div > div > div > form {
  width: 100%;
}

.k-button {
  border-color: #00639a;
  color: #fff;
  background-color: #00639a;
  border-bottom: 2px solid #009bd9;
  border: 1px solid #e6e6e6;
  width: auto;
  position: relative;
  height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  border-radius: 0%;
}

.k-textbox {
  border-radius: 0%;
}

.k-button:hover,
.k-button.k-state-hover {
  border-color: #00639a;
  color: #00639a;
  background-color: #00639a;
  color: #fff;
  border-radius: 0%;
}
